.button {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #5479fd;
  font-size: 12px;
  border: 1px solid #5479fd;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  background-color: white;
}

.buttonLarge {
  font-size: 24px;
  height: 200px;
}

.button:disabled {
  background-color: gray;
}
